@{
    ViewData["Title"] = "Poznaj nas bliżej";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Poznaj nas bliżej</title>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
    <div class="about-container1">
        <h2 class="AboutUsH2">Cyklo to największy internetowy sklep rowerowy w Polsce</h2>
        <p>
            Dobry sklep rowerowy to taki sklep, w którym chętnie dokonujemy zakupów. Ekipa Cyklo od 2020 roku konsekwentnie tworzy dla Was miejsce przyjazne i otwarte na potrzeby każdego rowerzysty.
            Nasza działalność nie ogranicza się jedynie do działalności w sieci. Cyklo to także sklep stacjonarny z profesjonalnym serwisem rowerowym (Shimano Service Center).
            Rynek jednośladów jest rozbudowany jak nigdy, dlatego w naszej ofercie znajdziecie produkty dostosowane do preferencji każdego kolarza - amatora jak i zawodowca.
            Z roku na rok poszerzamy ofertę o kolejne marki i ich produkty. W naszym asortymencie znajdziecie już ponad 80.000 produktów. Wśród nich jest wiele polskich marek, które jakością, designem i funkcjonalnością wyznaczają nowe standardy na rynku.
        </p>

        <div class="information-container">
            <div class="ColumnsAboutUs">
                <div class="box4">
                    <br />
                    <h>3 Lata</h>
                    <p>Lata Działalności</p>
                </div>
                <div class="box5">
                    <br />
                    <h>98%</h>
                    <p>Klientów Poleca Sklep</p>
                </div>
                <div class="box6">
                    <br />
                    <h>1 Milion</h>
                    <p>Wizyt Miesięcznie</p>
                </div>
            </div>
        </div>

        <h2 class="AboutUsH2">Nasz Cel</h2>
        <p>
            W Cyklo doskonale rozumiemy, jak trudno czasami wybrać coś wartościowego z bogatej oferty różnych producentów. 
            Chcąc stworzyć najlepszy sklep rowerowy, wykorzystujemy nasze doświadczenie i wiedzę zdobytą podczas pokonywania 
            dziesiątek tysięcy kilometrów na rowerach. Pasja, która napędza weekendowe wyprawy, stała się także motorem do rozwoju miejsca z ogromnym asortymentem dla wszystkich rowerzystów.
        </p>

        <h2 class="AboutUsH2">Nasza Historia</h2>
        <p>
            Ostatnie 3 lata
        </p>

        <div class="information-container">
            <div class="ColumnsAboutUs2">
                <div class="box7">
                    <br />
                    <h>2020</h>
                    <p>Powstanie sklepu internetowego Cyklo</p>
                </div>
                <div class="box8">
                    <br />
                    <h>2021</h>
                    <p>Rozpoczęcie współpracy z największymi markami</p>
                </div>
                <div class="box9">
                    <br />
                    <h>2022</h>
                    <p>Wprowadzamy na rynek nasz pierwszy produkt</p>
                </div>
                <div class="box10">
                    <br />
                    <h>2023</h>
                    <p>Rozszerzenie działalności na rynku Europejskim</p>
                </div>
            </div>
        </div>

        <h2 class="AboutUsH2">Sklep rowerowy z nagrodami Opineo</h2>
        <p>
            Trzy lata z rzędu zostaliśmy wyróżnieni przez serwis Opineo.pl za wysoką jakość Obsługi Klienta i realizacji zamówień. W 2018 roku znaleźliśmy się na 1 miejscu w kategorii sklepów rowerowych! 
            Zostaliśmy także wyróżnieni w kategorii sklepów sportowych i uplasowaliśmy się na 7 miejscu w rankingu! Natomiast w roku 2019 uplasowaliśmy się na miejscu 5 w kategorii sklepów sportowych! Możemy się pochwalić, że w 2020 
            sytuacja się powtórzyła i powtórnie znaleźliśmy się na 5 miejscu w kategorii sklepów sportowych! Jest to gwarancja, że każdy nasz Klient zostanie we właściwy i satysfakcjonujący dla niego sposób obsłużony.
        </p>

    </div>
</body>
</html>