@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
    <div class="photo-container">
        <img src="~/photos/Main_photo.jpg" alt="Sample_Photo" />
        <div class="image-text2">
            <h2>PRZYGODA CZEKA!</h2>
        </div>
        <div class="image-text">
         <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Configure"><h2>SKONFIGURUJ SWÓJ ROWER</h2></a>
        </div>
    </div>
</body>
</html>
