@{
    ViewData["Title"] = "Payment";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Zapłata</title>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
    <div class="payment-container1">
        <center>
            <h2 class="AboutUsH2">Formy płatności</h2>
            <p>Możesz wybrać dogodną metodę płatności za zakupy. Do wyboru masz:</p>
        </center>
        <div class="information-container">
            <div class="PaymentGrid">
                <div class="box100">
                    <img id="Image1" src="~/photos/Przelewy24Logo.png" style="border-width:0px;" />
                    <br />
                </div>
                <div class="box101">
                    <h>Szybka płatność online </h>
                    <p>Przelew elektroniczny - Za pośrednictwem PayPro S.A. z siedzibą w Poznaniu, przy ul. Pastelowej 8, 60-198 Poznań;</p>
                </div>
            </div>
        </div>

        <div class="information-container">
            <div class="PaymentGrid">
                <div class="box100">
                    <img id="Image1" src="~/photos/BlikLogo.png" style="border-width:0px;" />
                    <br />
                </div>
                <div class="box101">
                    <h>Płatność BLIK</h>
                    <p>Szybka płatność moblina - Za pośrednictwem PayPro S.A z siedzibą w Poznaniu, przy ul. Pastelowej 8, 60-198 Poznań;</p>
                </div>
            </div>
        </div>
        
        <div class="information-container">
            <div class="PaymentGrid">
                <div class="box100">
                    <img id="Image1" src="~/photos/SantanderLogo.png" style="border-width:0px;" />
                    <br />
                </div>
                <div class="box101">
                    <h>E-raty</h>
                    <p>Płatność ratalna - realizowana za pośrednictwem Santander Consumer Bank S.A. z siedzibą we Wrocławiu 53-611 Wrocław przy ul. Strzegomskiej 42c;</p>
                </div>
            </div>
        </div>

        <div class="information-container">
            <div class="PaymentGrid">
                <div class="box100">
                    <img id="Image1" src="~/photos/Money.png" style="border-width:0px;" />
                    <br />
                </div>
                <div class="box101">
                    <h>Gotówka przy odbiorze</h>
                    <p>U pracownika firmy kurierskiej.</p>
                </div>
            </div>
        </div>

        <center>
            <p style="margin-top: 100px;">
                W przypadku wyboru płatności ratalnej - spółka Dadelo S.A. z siedzibą w Bydgoszczy udostępnia operatorowi dane klienta podane w zamówieniu w zakresie: imię i nazwisko, nr telefonu, adres mailowy. Dane te są następnie przetwarzane przez operatora jako odrębnego administratora.
            </p>

            <p>
                W przypadku wyboru danego operatora płatności elektronicznych - spółka Dadelo S.A. z siedzibą w Bydgoszczy udostępnia wybranemu operatorowi dane klienta w zakresie: adres mailowy. Dane te są następnie przetwarzane przez operatora jako odrębnego administratora.
            </p>
        </center>



    </div>
</body>
</html>