@{
    ViewData["Title"] = "Polityka Prywatności";
}
<h1>@ViewData["Title"]</h1>

<p>
    Niniejsza polityka prywatności określa, w jaki sposób strona internetowa "Cyklo" gromadzi, wykorzystuje, przechowuje i chroni Twoje dane osobowe. Zależy nam na ochronie Twojej prywatności i zapewnieniu Ci bezpiecznego doświadczenia podczas korzystania z naszej witryny.Prosimy o dokładne zapoznanie się z poniższymi informacjami.
</p>
<p>
    1. Rodzaje gromadzonych danych osobowych
    Podczas korzystania z naszej strony internetowej "Cyklo" możemy zbierać różne rodzaje danych osobowych, które dobrowolnie nam udostępniasz. Może to obejmować informacje takie jak: imię i nazwisko, adres e-mail, numer telefonu, adres zamieszkania, preferencje dotyczące produktów lub usług, dane demograficzne i inne informacje potrzebne do świadczenia usług lub w celach marketingowych.
</p>
<p>
    2. Cel gromadzenia danych osobowych
    Gromadzimy dane osobowe w celu zapewnienia lepszej obsługi naszych klientów oraz dostarczenia informacji o naszych produktach i usługach. Możemy wykorzystywać te dane w następujących celach:
    <br />
    - Obsługa zamówień: Gromadzimy dane osobowe w celu przetwarzania zamówień, realizacji dostaw i obsługi zwrotów.
    <br />
    - Komunikacja: Wykorzystujemy adres e-mail i numer telefonu do kontaktowania się z Tobą w sprawach dotyczących zamówień, dostaw, obsługi klienta i informacji marketingowych.
    <br />
    - Marketing: Możemy używać Twoich danych osobowych, aby dostarczać Ci informacje o naszych nowych produktach, promocjach, ofertach specjalnych lub innych informacjach marketingowych. Jeśli nie chcesz otrzymywać takich informacji, możesz zrezygnować w dowolnym momencie.
    <br />
    - Analiza i usprawnianie: Analizujemy dane zbierane na naszej stronie internetowej w celu doskonalenia naszych produktów i usług, personalizacji treści, dostosowania interfejsu do preferencji użytkowników oraz optymalizacji działania strony.
</p>
<p>
    3. Udostępnianie danych osobowych innym podmiotom
    Nie sprzedajemy, nie wynajmujemy ani nie ujawniamy Twoich danych osobowych osobom trzecim bez Twojej zgody, chyba że jest to niezbędne do świadczenia usług związanych z naszymi produktami lub usługami, takich jak dostawcy płatności, firmy kurierskie lub dostawcy usług marketingowych. W takich przypadkach wymagamy od tych podmiotów przestrzegania odpowiednich zabezpieczeń i zachowania poufności Twoich danych.
</p>
<p>
    4. Bezpieczeństwo danych osobowych
    Zobowiązujemy się do zapewnienia odpowiednich środków bezpieczeństwa w celu ochrony Twoich danych osobowych przed nieautoryzowanym dostępem, utratą, wykorzystaniem lub ujawnieniem. Stosujemy zabezpieczenia techniczne i organizacyjne, takie jak szyfrowanie danych, ograniczenia dostępu do danych osobowych oraz monitorowanie systemów informatycznych w celu minimalizacji ryzyka naruszenia bezpieczeństwa.
</p>
<p>
    5. Pliki cookies i technologie śledzenia
    Nasza strona internetowa może wykorzystywać pliki cookies i inne technologie śledzenia, takie jak piksele śledzące, w celu zbierania informacji na temat Twojego zachowania na stronie. Pliki cookies są małymi plikami tekstowymi przechowywanymi na Twoim urządzeniu, które umożliwiają analizę korzystania z witryny, personalizację treści oraz zapamiętywanie preferencji użytkownika. Możesz wyłączyć pliki cookies w ustawieniach przeglądarki, jednakże może to wpłynąć na funkcjonalność naszej strony internetowej.
</p>
<p>
    6. Linki do innych stron internetowych
    Nasza strona internetowa może zawierać linki do innych stron internetowych, które są prowadzone przez inne podmioty. Nie ponosimy odpowiedzialności za polityki prywatności tych stron zewnętrznych. Zachęcamy do zapoznania się z polityką prywatności każdej z tych witryn przed udostępnieniem swoich danych osobowych.
</p>
<p>
    7. Zmiany w polityce prywatności
    Zastrzegamy sobie prawo do wprowadzania zmian w niniejszej polityce prywatności w dowolnym momencie. Aktualizacje będą publikowane na naszej stronie internetowej, dlatego zalecamy regularne sprawdzanie treści polityki prywatności.Jeśli masz jakiekolwiek pytania lub wątpliwości dotyczące naszej polityki prywatności, prosimy o kontakt z naszym działem obsługi klienta. Dziękujemy za zaufanie i wybór strony internetowej "Cyklo".
</p>