@{
    ViewData["Title"] = "Returns";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Zwroty</title>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
    <div class="shipment-container1">
        <center><h2 class="AboutUsH2">Zwroty</h2></center>
        <p>
            Dziękujemy za złożenie zamówienia w naszym sklepie Cyklo. Jesteśmy jednak zaniepokojeni informacją o tym, że chciałbyś dokonać zwrotu zakupionego roweru. Przykro nam, że produkt nie spełnił Twoich oczekiwań, i chcielibyśmy zaoferować Ci nasze wsparcie w tym procesie.
        </p>
        <p>
            Aby przyspieszyć proces zwrotu, prosimy o zapoznanie się z naszą polityką zwrotów. W naszym sklepie oferujemy możliwość zwrotu zakupionego towaru w ciągu 14 dni od daty otrzymania produktu. Warunkiem koniecznym jest, aby rower był w idealnym stanie, nie nosił śladów użytkowania i posiadał oryginalne opakowanie oraz wszystkie dołączone akcesoria.
        </p>
        <p>
            Prosimy o kontakt z naszym działem obsługi klienta w celu uzyskania dalszych instrukcji dotyczących zwrotu. Nasz zespół jest gotowy, aby Ci pomóc i odpowiedzieć na wszelkie pytania związane z procesem zwrotu. Możesz skontaktować się z nami telefonicznie pod numerem +48 800 800 100 lub wysłać wiadomość e-mail na adres info@cyklo.com.
        </p>
        <p>
            Pamiętaj, że zwrócony rower zostanie poddany weryfikacji przez nasz zespół techniczny w celu potwierdzenia, czy spełnia warunki zwrotu. Po pozytywnej weryfikacji zwrotu z naszej strony, dokonamy zwrotu pieniędzy na Twój oryginalny sposób płatności.
        </p>
        <p>
            Jeszcze raz przepraszamy, że Twoje doświadczenie z naszym produktem nie było zgodne z oczekiwaniami. Liczymy na to, że pomimo tej sytuacji nadal będziesz zainteresowany zakupem innych produktów z naszej szerokiej gamy rowerów i akcesoriów.
        </p>
        <p>
            Dziękujemy za wybór sklepu Cyklo i czekamy na kontakt w celu zorganizowania zwrotu. Będziemy dążyć do zapewnienia Ci jak najlepszej obsługi klienta i rozwiązania tej sprawy w szybki i profesjonalny sposób.
        </p>

        <center><h2 class="AboutUsH2">Kontakt poprzez formularz</h2></center>

        <center><button style="background-color:orange;color: #fff;padding: 10px 10px 10px 40px;margin-top:30px;width: 700px; border: none; border-radius: 8px;" onclick="window.location.href='/contact/contactmail'">Kontakt</button></center>

        
@*
        href="contact/contactmail"*@

    </div>
</body>
</html>