@{
    ViewData["Title"] = "Serwis";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Serwis</title>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
    <div class="service-container">
        <center>
            <h2 class="AboutUsH2">Serwis</h2>
        <p>
            Obecnie nie mamy stacjonarnych punktów serwisowych, natomiast możemy zapewnić, że w przyszłości takie powstaną.
        </p>

        <p>
            Już teraz wdrażany jest program punktów serwisowych w całej Polsce.
        </p>

       <h2 class="AboutUsH2">Miasta w, których powstają punkty serwisowe</h2>
        </center>

        <div class="city-container">
            <div class="ColumnsAboutUs3">
                <div class="box11">
                    <br />
                    <h>Warszawa</h>
                    <p>ul.Podgórna 43</p>
                </div>
                <div class="box12">
                    <br />
                    <h>Kraków</h>
                    <p>ul.Rajska 12</p>
                </div>
                <div class="box13">
                    <br />
                    <h>Bielsko-Biała</h>
                    <p>ul.Willowa 2</p>
                </div>
                <div class="box14">
                    <br />
                    <h>Poznań</h>
                    <p>ul.Kościelna 13</p>
                </div>
                <div class="box15">
                    <br />
                    <h>Gdynia</h>
                    <p>ul.Bydgoska 1</p>
                </div>
                <div class="box16">
                    <br />
                    <h>Białystok</h>
                    <p>ul.Zwycięstwa 30</p>
                </div>
                <div class="box17">
                    <br />
                    <h>Wrocław</h>
                    <p>ul.Swobodna 9</p>
                </div>
                <div class="box18">
                    <br />
                    <h>Katowice</h>
                    <p>ul.Raciborska 12</p>
                </div>
            </div>
        </div>

    </div>
</body>
</html>