@{
    ViewData["Title"] = "Shipment";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Poznaj nas bliżej</title>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
    <div class="shipment-container1">
        <h2 class="AboutUsH2">Dostawa - koszt i opcje</h2>
        <p>
            Oferujemy dwa rodzaje przesyłki kurierskiej oraz odbiór złożonego roweru w punkcie.
            Rowery stacjonarne oraz rowerki biegowe nie podlegają usłudze wstępnego złożenia lub całkowitego złożenia i odbioru w wyznaczonym punkcie. 
            Te produkty wysyłamy jedynie za pośrednictwem firmy kurierskiej wedle cennika dostępnego na stronie.
        </p>

        <center><h2 class="AboutUsH2">Rower złożony przez specjalistę</h2></center>
        <div class="information-container">
            <div class="ColumnsShipment">
                <div class="box19">
                    <br />
                    <h>Odbiór w sklepie stacjonarnym</h>
                    <p>Bielsko-Biała</p>
                </div>
                <div class="box20">
                    <br />
                    <h>Dostawa do sklepu: GRATIS!</h>
                    <p>
                        Cena złożenia roweru zależy od konfiguracji rowera.
                    </p>
                </div>
            </div>
        </div>
        <br/>
        <center>
        <p>
            Zamów darmowe dostarczenie roweru do punktu odbioru. Rower zostanie złożony przez specjalistę, który przygotuje go do jazdy. Koszt montażu klient ustala podczas zakupu roweru.
        </p>
        </center>

        <center><h2 class="AboutUsH2">Rower do samodzielnego montażu</h2></center>
        <div class="information-container">
            <div class="ColumnsShipment">
                <div class="box19">
                    <br />
                    <h>Dostawa kurierem</h>
                    <p>3 dostawców</p>
                </div>
                <div class="box20">
                    <br />
                    <h>Koszty wysyłki: GRATIS!</h>
                    <p>
                        Powyżej 200zł.
                    </p>
                </div>
            </div>
        </div>
        <br />
        <center>
            <p>
                Jesteś doświadczonym rowerzystą? Potrafisz sam złożyć rower i przygotować do sezonu? Jeśli składanie roweru sprawia Ci przyjemność wybierz dostawę roweru do własnego montażu. 
                Zostanie on przesłany w fabrycznym stanie.
            </p>
        </center>

        <center><h2 class="AboutUsH2">Rower wstępnie złożony i wyregulowany</h2></center>
        <div class="information-container">
            <div class="ColumnsShipment">
                <div class="box19">
                    <br />
                    <h>Dostawa kurierem</h>
                    <p>3 dostawców</p>
                </div>
                <div class="box20">
                    <br />
                    <h>Koszty wysyłki: GRATIS!</h>
                    <p>
                        Powyżej 200zł.
                    </p>
                </div>
            </div>
        </div>
        <br />
        <center>
            <p>
                Posiadasz podstawową wiedzę na temat roweru? Zamów model wstępnie złożony i wyregulowany! Wystarczy, że samodzielnie wyprostujesz kierownicę, przykręcisz pedały i mostek. Kilka prostych kroków wystarczy do przygotowania roweru do jazdy.
            </p>
        </center>

        <br/>
        <center><h2 class="AboutUsH2">Dostawcy</h2>
        <p>
            W zależności od rodzaju produktu oferujemy trzy sposoby dostawy: kurierem InPost, DHL i kurierem UPS.
        </p>
        </center>
        <div class="information-container">
            <div class="ColumnsAboutUs">
                <div class="box4">
                    <img id="Image1" src="~/photos/InPostLogo.png" style="border-width:0px;" />
                    <br />
                    <h>Kurier InPost</h>
                    <br />
                    <p>Koszty wysyłki: GRATIS!</p>
                    <p>Czas dostawy: 1-2 dni robocze</p>
                </div>
                <div class="box5">
                    <img id="Image1" src="~/photos/DHLLogo.png" style="border-width:0px;" />
                    <br />
                    <h>Kurier DHL</h>
                    <br />
                    <p>Koszty wysyłki: GRATIS!</p>
                    <p>Czas dostawy: 1-2 dni robocze</p>
                </div>
                <div class="box6">
                    <img id="Image1" src="~/photos/UPSLogo.png" style="border-width:0px;" />
                    <br />
                    <h>Kurier UPS</h>
                    <br />
                    <p>Koszty wysyłki: GRATIS!</p>
                    <p>Czas dostawy: 1-2 dni robocze</p>
                </div>
            </div>
        </div>

        
    </div>
</body>
</html>